@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container{
  @apply px-5 mx-auto flex items-center;
  max-width: 1200px;
}
.nav{
  height: 75px;
}

.header{
  
}

.main{
  @apply bg-slate-900;
}

.text-header{
  @apply text-white font-semibold;
}
.button-login{
  @apply px-5 py-2 border-4 border-green-600/75 rounded-full
}

.header-bg{
  background-image: url(/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 35%
}
